/* DESKTOP */ 

/* HEADER */

.header {
   display: flex;
   justify-content: center;
}
.navbar {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    background-color: transparent;
}
.header__logo {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 100px;
    transform: translateY(-50%);
}
.menu-switcher {
    display: none;
}
.nav__list {
    display: flex;
    justify-content: center;
}
.nav__item {
    margin: 0 15px 0 0;
    transition: scale 0.3s ease;
}
.nav__item:hover {
    scale: 1.15;
}
.nav__link {
    padding: 5px;
    font-size: var(--font-size-m);
    color: var(--color-white);
    transition: color 0.2s ease;
}
.nav__link:hover {
    color: var(--cta-button);
}
.nav__list > .nav__item:last-child {
    margin-bottom: 0;
}
.cta-button--download-header {
    display: block;
    background-color: var(--cta-button-download);
    position: absolute;
    top: 50%;
    right: 20px;
    margin: 0;
    transform: translateY(-50%);
}
.cta-button--download-header:hover {
    background-color: rgb(0, 104, 184);
}

/* END OF HEADER */

/* HERO SECTION */

.hero__heading {
    font-size: var(--font-size-xxl);
}
.hero__text {
    font-size: var(--font-size-m);
}
.hero__section {
    height: calc(100vh - 60px);
    padding-top: 100px;
    width: 100%;
}
.hero__article {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    margin: 80px auto;
}
.hero__content {
    width: 500px;
    margin-top: 30px;
}
.hero__image {
    width: 400px;
}

/* END OF HERO SECTION */

/* FEATURES SECTION */

.section__heading {
    font-size: var(--font-size-xxl);
    padding: 100px 0 40px 0;
}
.features__container {
    width: 100%;
}
.features__item {
    width: 25%;
}
.features__content {
    margin: 120px 20px;
}

/* END OF FEATURES */

/* REVIEW SECTION */

.review__section {
    padding: 80px 40px;
}

/* END OF REVIEW SECTION */

/* PRICING SECTION */

.pricing__section {
    margin: 60px auto;
}
.offer__plans-card-2 {
    width: 33%;
}

/* END OF PRICING SECTION */

/* DOWNLOAD SECTION */

.download__section {
    flex-direction: row;
    justify-content: space-between;
    min-height: 40vh;
}
.download__content {
    display: flex;
    justify-content: space-between;
}
.section__heading--white {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-xxl);
    width: 50%;
}

/* END OF DOWNLOAD SECTION */

/* FOOTER */

.footer {
    grid-template-areas:
    "a-header a-services a-links a-downloads";
    grid-template-columns: 
    25%
    25%
    25%
    25%;
    padding: 100px 100px 200px;
}
.footer__logo {
    font-size: var(--font-size-m);
}
.logo {
    min-height: 40px;
    min-width: 120px;
}
.footer__heading {
    font-size: var(--font-size-s);
    margin-right: 20px;
}
.footer__list {
    margin: 0;
    font-size: var(--font-size-l);
}
.footer__list-item > a {
    font-size: var(--font-size-s);
}
.footer__list-social {
    margin-top: 30px;
}
.footer__icon-item {
    height: 55px;
    width: 55px;
    margin-right: 10px;
}
.social-icon  {
    font-size: var(--font-size-l);
}

/* END OF FOOTER */

/* COPYRIGHTS */

.copyrights__text {
    font-size: var(--font-size-xs);
}

/* END OF COPYRIGHTS */